
/***********************/
/* Leaderboard Styling */
/***********************/

#leaderboard-buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 20%;
}

/*****************/
/* Title Styling */
/*****************/
#title h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: #FFFFFF;
  text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.50);
  margin-top: 0;
  margin-bottom: 0.5em;
}

#header-title {
  text-align: center;
}

#title {
  display: flex;
  flex-direction: column;
}

#cloud {
  align-self: center;
  top: 0;
}



#score-table {
  top: 15%;
  position: relative;
}

#scores {
  font-family: 'Montserrat', sans-serif;
  border: solid 5px;
  color: white;
  border-spacing: 10px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}