/***********************/
/* Leaderboard Styling */
/***********************/

#back-to-main-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1.7em;
}

/*****************/
/* Title Styling */
/*****************/
#title h1 {
  font-size: 3.5em;
  margin: 0, 0, 20px, 0;
}
/***********************/
/* Leaderboard Styling */
/***********************/
#score-table {
  top: -10%;
  position: relative;
  text-shadow: 0px 6px 18px rgba(0, 0, 0, 0.50);
  padding: 0;
  margin: 0;
}

#scores {
  box-shadow: 0px 3px 28px 0px rgba(0,0,0,0.38);
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1em;
  margin: auto;
  border: solid 5px;
  width: 95%;
  color: white;
  border-spacing: 10px;
  position: relative;
}

/**********************/
/* For larger devices */
/**********************/
@media screen and (max-width: 530px) {
  #title h1 {
    font-size: 2.5em;
  }
}

/***********************/
/* For smaller devices */
/***********************/
@media screen and (max-width: 360px) {
  #title h1 {
    font-size: 2em;
  }
}