/*************/
/* RESET CSS */
/*************/
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*******************/
/* General Styling */
/*******************/

#menu-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #4593DE;
  background-image: radial-gradient(53% 102%, rgba(193, 238, 253, 0.65) 34%, rgba(23, 51, 97, 0.36) 100%);
  z-index: -10;
}

#spelling-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f162E;
  background-image: radial-gradient(53% 102%, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0.45) 100%),
    url(../images/spelling/background/spellingbodybg.png);
  z-index: -10;
}

#math-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #4593DE;
  background-image: radial-gradient(53% 102%, rgba(193, 238, 253, 0.65) 34%,
    rgba(23, 51, 97, 0.36) 100%), url(../images/math/background/mathbodybg.png);
  z-index: -10;
}

h2 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0 0 1em 0;
  background: #F1AE3E;
  background-color: #0088CB;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.40);
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #FFFFFF;
  text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.50);
  background-image: radial-gradient(50% 99%, rgba(193,238,253,0.65) 0%, rgba(23,51,97,0.36) 100%);
}

button {
  outline: none;
}

button:hover {
    text-shadow: 0px 8px 24px rgba(0, 0, 0, 0.70);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.60);
}

button:active {
  text-shadow: 0px 2px 24px rgba(0, 0, 0, 0.70);
}

#title h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 6em;
  color: #FFFFFF;
  text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.50);
  margin-top: 0;
  margin-bottom: 0.5em;
}

#wrapper {
  position: relative;
  width: 1000px;
  height: 100vh;
  margin: auto;
  top: 0;
}

canvas {
  position: absolute;
  background: transparent;
}

p {
  margin: 0;
}

#buttons {
  margin: auto;
}

/*******************/
/* The Menu Header */
/*******************/

#header-title {
  text-align: center;
  padding-top: 20%;
}

#title {
  display: flex;
  flex-direction: column;
  height: 20%;
}

#cloud {
  width: 30%;
  height: auto;
  align-self: center;
  transform: translateY(15%);
}

/*****************/
/* The Main Menu */
/*****************/

#main-menu {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

/*********************/
/* Main Menu Buttons */
/*********************/

#game-collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1.5em;
}

.selector {
  display: flex;
  flex-direction: column;
}

.selector label {
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #FFFFFF;
  text-shadow: 0px 2px 20px rgba(0,0,0,0.50);
}

#spelling-ship {
  transform: rotate(-45deg);
  margin-left: -15px;
  margin-top: -28px;
  width: 90%;
  height: auto;
}

#math-crab {
  width: 98%;
  height: auto;
}

#button-collection {
  display: flex;
  flex-direction: column;
}

button .banner {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: #FFFFFF;
  text-shadow: 0px 2px 20px rgba(0,0,0,0.50);
  background-color: #B6182A;
  transform: rotate(-30deg);
  width: 150%;
  margin-left: -32px;
  height: 30px;
  box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.38);
}

.theme {
  width: 130px;
  height: 130px;
  margin: 0 1em 0.5em 1em;
  background: #18306E;
  box-shadow: 0px 4px 40px 0px rgba(0,0,0,0.50);
  border: none;
  overflow: hidden;
}

.theme-selected {
  width: 130px;
  height: 130px;
  margin: 0 1em 0.5em 1em;
  background: #18306E;
  box-shadow: 0px 4px 40px 0px rgba(0,0,0,0.50);
  outline: 8px solid white;
  border: none;
  overflow: hidden;
}

.button {
  width: 250px;
  height: 50px;
  margin: 0 auto .5em auto;
  background-color: #0AAFF1;
  background: #F1AE3E;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.50);
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #FFFFFF;
  text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.50);
  outline: none;
}

.button-selected {
  width: 250px;
  height: 50px;
  margin-bottom: 1em;
  margin: 0 auto 1em auto;
  background-color: #0AAFF1;
  background: #F1AE3E;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.50);
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #FFFFFF;
  text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.50);
  outline: 8px solid white;
  border: none;
  overflow: hidden;
}

#main-menu .mute {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
}

/************/
/* Canvases */
/***********/
#background {
  z-index: 0;
  background-color: #1F2B42;
}

#elements {
  z-index: 1;
}

#player {
  bottom: 0;
  z-index: 3;
}

#gradient {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.35) 10%, rgba(0,0,0,0.00) 35%),
    linear-gradient(0deg, rgba(0,0,0,0.35) 5%, rgba(0,0,0,0.00) 33%);
}

/***********/
/* Game UI */
/***********/
#top-menu {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 10%;
}

#left {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-image: url(../images/menubar.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#pause-button {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  background: none;
  border: none;
  margin: 0;
  color: #C9C1C1;
  text-shadow: 0px 1px 15px rgba(0,0,0,0.50);
  z-index: 9;
}

#pause-button:hover {
  text-shadow: 0px 5px 15px rgba(0,0,0,0.90);
}

#menu-pause {
  margin: 0.8em 0 2em -6em;
}

#level-counter {
  position: relative;
  margin: 0.2em 0 0.2em -3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #C9C1C1;
  text-shadow: 0px 1px 15px rgba(0,0,0,0.50);
}

#right {
  float: right;
  text-align: right;
}

#score-counter {
  margin: -15px 15px 15px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 5em;
  color: white;
}

#answer-section {
  position: absolute;
  top: 0px;
  width: auto;
  font-size: 1.5em;
  z-index: 4;
  left: 50%;
  transform: translateX(-50%);
}

#answer-table {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 3em;
  color: #1B2338;
  text-shadow:
    -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff,
    0 0 40px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
}

.equation-answer {
  text-align: center;
  color: #FFFFFF;
  width: 80px;
  height: 80px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.30);
}

#answer-row td:last-of-type {
  box-shadow: none;
}

#mobile-buttons {
  display: none;
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  z-index: 3;
}

#left-button {
  width: 70px;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  background: none;
  border: none;
}

#right-button {
  width: 70px;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  background: none;
  border: none;
}

#game {
  display: none;
  position: relative;
  height: 100%;
  top: 0;
}

/*******************/
/**** GAME OVER ****/
/*******************/

@keyframes game-over-fade-in {
    from {
      display: none;
      opacity: 0;
    }
    to {
      display: block;
      opacity: 1;
    }
}

#game-over {
  background-image: radial-gradient(53% 102%, rgba(193, 238, 253, 0.65) 34%, rgba(23, 51, 97, 0.36) 100%);
  background-color: #CCFFFF;
  display: none;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: 550px;
  z-index: 10;
  animation-name: game-over-fade-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#game-over .button {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  margin: 0 auto.75em auto;
  background-color: #F1AE3E;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.50);
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #FFFFFF;
  text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.50);
}

#game-over .button:hover {
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.80);
}

#game-over-header {
  background: #F1AE3E;
  background-color: #0088CB;
  background-image: radial-gradient(50% 99%, rgba(193,238,253,0.65) 0%, rgba(23,51,97,0.36) 100%);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.40);
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.40);
}

#game-over h1 {
  text-align: center;
  padding-top: 1em;
  margin: 0;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #FFFFFF;
}
#game-over .score {
  font-size: 1.5em;
  margin-bottom: 10px;
  padding:;
}

#game-over form {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.50);
  margin-bottom: 15px;
}

.game-over-input {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.50);
}

#user-score {
  font-size: 1.5em;
  text-align: center;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

#final-score {
  display: none;
}

#gametype {
  display: none;
}


/*******************/
/**** DIFFICULTY ***/
/*******************/

@keyframes menu-drop-in {
    from {
      top: -50%;
    }
    to {
      transform: translateY(-50%);
      top: 50%;
    }
}

#difficulty-menu {
  background-image: radial-gradient(53% 102%, rgba(193, 238, 253, 0.65) 34%, rgba(23, 51, 97, 0.36) 100%);
  display: none;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -50%;
  margin: auto;
  background-color: #CCFFFF;
  width: 400px;
  height: 600px;
  z-index: 10;
  animation-name: menu-drop-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  box-shadow: 0px 3px 94px 20px rgba(0,0,0,0.38);
}

#difficulty-menu h2 {
  font-size: 2em;
}

#difficulty-menu .button {
  position: relative;
  margin-top: 17px;
  margin-bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #18306E;
}

#difficulty-menu #start-button {
  position: relative;
  margin-top: 17px;
  margin-bottom: 5px;
  left: 50%;
  transform: translateX(-50%);  
  background-color: #0AAFF1;
  background: #F1AE3E;
}

#difficulty-menu .tutorial-button {
  position: relative;
  margin-top: 17px;
  margin-bottom: 5px;
  left: 50%;
  transform: translateX(-50%);  
  background-color: #0AAFF1;
  background: #F1AE3E;
}

#difficulty-menu .main-menu-button {
  position: relative;
  margin-top: 17px;
  left: 50%;
  transform: translateX(-50%);  
  background-color: #0AAFF1;
  background: #F1AE3E;
}

#difficulty-menu .button-selected {
  position: relative;
  margin-top: 20px;
  margin-bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #18306E;
}

/*******************/
/**** PAUSE MENU ***/
/*******************/

#pause-menu {
  background-image: radial-gradient(53% 102%, rgba(193, 238, 253, 0.65) 34%, rgba(23, 51, 97, 0.36) 100%);
  display: none;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #CCFFFF;
  width: 400px;
  height: 450px;
  z-index: 10;
}
#pause-menu h2 {
  font-size: 2em;
}

#pause-menu .button {
  position: relative;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F1AE3E;
}

#pause-menu .mute {
  position: relative;
  left: 43%;
  transform: tranlateX(-50%);
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

#pause-menu-screen-darken {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  /*opacity: 0.5;*/
  /*filter: alpha(opacity=40);*/
  /* For IE8 and earlier */
  z-index: 7;
}

/************************/
/**** TUTORIAL SCREEN ***/
/************************/

#tutorial-screen {
  background-image: radial-gradient(53% 102%, rgba(193, 238, 253, 0.65) 34%, rgba(23, 51, 97, 0.36) 100%);
  display: none;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #CCFFFF;
  width: 400px;
  height: 600px;
  z-index: 11;
  animation-name: menu-drop-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#tutorial-screen img {
  height: 425px;
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.math-tutorial {
  display: none;
}

#tutorial-screen h2 {
  font-size: 1.3em;
}

#tutorial-screen .button {
  position: relative;
  left: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
  background-color: #F1AE3E;
}


/***************************/
/**** ACHIEVEMENT SCREEN ***/
/***************************/

#achievement-screen {
  background-image: radial-gradient(53% 102%, rgba(193, 238, 253, 0.65) 34%, rgba(23, 51, 97, 0.36) 100%);
  display: none;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #CCFFFF;
  width: 400px;
  height: 650px;
  z-index: 10;
  animation-name: menu-drop-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  box-shadow: 0px 3px 94px 20px rgba(0,0,0,0.38);
}

#achievement-screen h2 {
  font-size: 2em;
}

#achievement-screen .button {
  position: relative;
<<<<<<< Updated upstream
  margin-top: 0.5em;
=======
  margin-top: 18px;
>>>>>>> Stashed changes
  left: 50%;
  transform: translateX(-50%);
  background-color: #F1AE3E;
}

#achievements-table {
  box-shadow: 0px 3px 28px 0px rgba(0,0,0,0.38);
  font-family: 'Montserrat', sans-serif;
<<<<<<< Updated upstream
  text-shadow: 0px 6px 18px rgba(0, 0, 0, 0.50);
  color: white;
  width: 95%;
=======
  width: 90%;
>>>>>>> Stashed changes
  position: relative;
  left: 50%;
  transform:translateX(-50%);
  border-collapse: collapse;
  background: #4593DE;
  background-image: linear-gradient(-180deg, rgba(193,238,253,0.65) 0%, rgba(23,51,97,0.36) 100%);
}

#achievements-table td {
  border: solid 5px white;
  vertical-align: top;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0;
}

#achievements-div {
  margin: auto;
  width: 90%;
  box-shadow: 0px 3px 28px 0px rgba(0,0,0,0.38);
  border: solid 5px white;
  position: relative;
<<<<<<< Updated upstream
  height: auto;
=======
  height: 58%;
>>>>>>> Stashed changes
  overflow: auto;
}

/***********************/
/* Leaderboard Styling */
/***********************/

#back-button .button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
}

#score-table {
  position: relative;
  text-shadow: 0px 6px 18px rgba(0, 0, 0, 0.50);
  padding: 0;
  margin-top: 60px;
}

#leaderboard {
  display: none;
  background-image: radial-gradient(53% 102%, rgba(193, 238, 253, 0.65) 34%, rgba(23, 51, 97, 0.36) 100%);
  display: none;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -50%;
  margin: auto;
  background-color: #CCFFFF;
  width: 400px;
  height: 550px;
  z-index: 12;
  animation-name: menu-drop-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  box-shadow: 0px 3px 94px 20px rgba(0,0,0,0.38);
}

#spelling-scores {
  box-shadow: 0px 3px 28px 0px rgba(0,0,0,0.38);
  font-family: 'Montserrat', sans-serif;
  margin: 0, auto, 1em, auto;
  border: solid 5px;
  width: 95%;
  color: white;
  border-spacing: 10px;
  border-collapse: seperate;
  position: relative;
  background: #4593DE;
  background-image: linear-gradient(-180deg, rgba(193,238,253,0.65) 0%, rgba(23,51,97,0.36) 100%);
}
.scores {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.scores td {
  padding: 0 35px 0 35px;
}

#math-scores {
  box-shadow: 0px 3px 28px 0px rgba(0,0,0,0.38);
  font-family: 'Montserrat', sans-serif;
  margin: 0, auto, 1em, auto;
  border: solid 5px;
  width: 95%;
  color: white;
  border-spacing: 10px;
  position: relative;
  display: none;
  background: #4593DE;
  background-image: linear-gradient(-180deg, rgba(193,238,253,0.65) 0%, rgba(23,51,97,0.36) 100%);
}

#leaderboard #next-board .button {
  width: 32%;
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}

#leaderboard #previous-board .button {
  width: 32%;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
}

#score-table {
  position: relative;
  margin: .35em, 0, 0, .2em;
  padding-left: 2.5%;
}


@keyframes leaderboard-drop-in {
    from {
      top: -50%;
    }
    to {
      transform: translateY(-50%);
      top: 50%;
    }
}

/*******************************************/
/* Fill screen when under 1000px */
/*******************************************/
@media screen and (max-width: 1000px) {
  #wrapper {
    width: 100%;
  }
}

/**********************/
/* For larger devices */
/**********************/
@media screen and (max-width: 530px) {
  #wrapper {
    width: 100%;
  }
  
  #menu-bg {
    background: #4593DE;
    background-image: linear-gradient(-180deg, rgba(193,238,253,0.65) 0%, rgba(23,51,97,0.36) 100%);
  }
  
  #title h1 {
    font-size: 3em;
  }
  
  #title svg {
	  width: 360px;
    height: 135px;
  }
  
  .theme {
    height: 100px;
    width: 100px;
    margin: 0 1em 0.5em 0.9em;
  }
  
  .theme-selected {
    width: 100px;
    height: 100px;
    outline: 5px solid white;
  }
  
  #difficulty-menu .button-selected {
    margin-top: 17.5px;
    margin-bottom: 2.5px;
  }
  
  .button-selected {
    outline: 5px solid white;
  }
  
  #spelling-ship {
    transform: rotate(-45deg);
    margin-left: -10px;
    margin-top: -17px;
    width: 90px;
    height: 125px;
  }
  
  button .banner {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #FFFFFF;
    text-shadow: 0px 2px 20px rgba(0,0,0,0.50);
    background-color: #B6182A;
    transform: rotate(-30deg);
    width: 150%;
    margin-left: -25px;
    height: 25px;
    box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.38);
  }
  
  #left {
    width: 50%;
  }
  
  #level-counter {
    font-size: 1.2em;
    margin: 0.4em 0 0.1em -1.3em;
  }
  
  #pause-button {
    font-size: 1.2em;
    margin: 0.1em 0 0 1.5em;
  }
  
  #right {
    width: 50%;
  }
  
  #lives-table img {
    width: 75%;
    height: auto;
  }
  
  #score-counter {
    font-size: 4em;
  }
  
  #answer-section {
    top: 80px;
  }
  
  #answer-table {
    font-size: 2em;
  }
  
  #mobile-buttons {
    display: block;
  }
  
  #difficulty-menu {
    width: 300px;
  }
  
  #leaderboard {
    width: 350px;
  }
  
  #achievement-screen {
    width: 350px;
    height: 600px;
  }
  
  #pause-menu {
    width: 300px;
  }
  
  .equation-answer {
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.30);
  }
  
  #answer-table {
    width: 350px;
  }
  
  #game-over {
    width: 300px;
    animation-name: game-over-fade-in;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }
  
  #leaderboard #next-board .button {
  width: 120px;
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  }
  #leaderboard #previous-board .button {
    width: 120px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
  }
  #back-button .button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 173px;
  }
  
  #main-menu {
    top: 47%;
  }
}

/*********************/
/* For small devices */
/*********************/
@media screen and (max-width: 360px) {
  #title h1 {
    font-size: 3.5em;
  }
  
  #title svg {
    width: 200px;
    height: 125px;
  }
  .theme {
    height: 75px;
    width: 75px;
  }
  
  .theme-selected {
    width: 75px;
    height: 75px;
  }
  
  #spelling-ship {
    transform: rotate(-45deg);
    margin-left: -10px;
    margin-top: -13px;
    width: 65px;
    height: 95px;
  }
  
  #word-table {
    font-size: 1.5em;
  }
  
  button .banner {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .75em;
    color: #FFFFFF;
    text-shadow: 0px 2px 20px rgba(0,0,0,0.50);
    background-color: #B6182A;
    transform: rotate(-30deg);
    width: 150%;
    margin-left: -18px;
    height: 20px;
    box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.38);
  }
  #main-menu {
    top: 47%;
  }
  
}