/*******************/
/* General Styling */
/*******************/

body {
  margin: 0;
  padding: 0;
  background-color:#ffffff;
}

#wrapper {
  position: relative;
  width: 1000px;
  height: 100vh;
  margin: auto;
}

canvas {
  position: absolute;
  background: transparent;
}

/*******************/
/* The Menu Header */
/*******************/

#header-title {
	text-align: center;
	padding-top: 20%;
}
/*****************/
/* The Main Menu */
/*****************/

#main-menu {
  position: absolute;
  width: 100%;
}

/***************/
/* The Buttons */
/***************/
#game-collection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#button-collection {
    display: flex;
    flex-direction: column;
}

.theme {
    width: 150px;
    height: 150px;
	padding-top: 3em;
	padding-bottom: 3em;
	margin: 0 1em 2em 1em;
	border: 6px solid #EDF259;
	border-radius: 2em;
	background-color: #0AAFF1;
}

.button {
    width: 30%;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-bottom: 2em;
    margin: 0 auto 2em auto;
	border: 6px solid #EDF259;
	border-radius: 2em;
	background-color: #0AAFF1;
}

#background {
  z-index: 0;
}

#ship {
  bottom: 0;
  z-index: 1;
}

#top-menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}

#left {
  flex-grow: 1;
  background-color: cadetblue;
}

.left-text {
  position: relative;
  margin: 10px 0 10px 20px;
  font-family: fantasy, sans-serif;
  font-size: 40px;
  color: white;
}

#right {
  flex-grow: 2;
  background-color: darksalmon;
}

.right-text {
  position: relative;
  margin: 10px 0 10px 20px;
  font-family: fantasy, sans-serif;
  font-size: 40px;
  color: white;
}

p {
  margin: 0;
}

#game {
  display: none;
  position: relative;
  height: 100%;
  top: 0;
}