/*******************/
/* General Styling */
/*******************/

body {
  margin: 0;
  padding: 0;
  background-color:#ffffff;
  min-width: 1000px;
}
#title {
	text-align: center;
}
#wrapper {
  position: relative;
  width: 1000px;
  height: 100vh;
  margin: auto;
}

canvas {
  position: absolute;
  background: transparent;
}

/*******************/
/* The Menu Header */
/*******************/

#header-title {
	text-align: center;
	padding-top: 20%;
}
/*****************/
/* The Main Menu */
/*****************/

#main-menu {
  position: absolute;
  width: 100%;
}

/***************/
/* The Buttons */
/***************/
#game-collection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#button-collection {
    display: flex;
    flex-direction: column;
}

.theme {
    width: 150px;
    height: 150px;
	padding-top: 3em;
	padding-bottom: 3em;
	margin: 0 1em 2em 1em;
	border: 6px solid #EDF259;
	border-radius: 2em;
	background-color: #0AAFF1;
}

.button {
    width: 30%;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-bottom: 2em;
    margin: 0 auto 2em auto;
	border: 6px solid #EDF259;
	border-radius: 2em;
	background-color: #0AAFF1;
}

#background {
  z-index: 0;
}

#elements {
  z-index: 1;
}

#ship {
  bottom: 0;
  z-index: 2;
}

#top-menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}

#left {
  flex-grow: 1;
  background-color: cadetblue;
}

.left-text {
  position: relative;
  margin: 10px 0 10px 20px;
  font-family: sans-serif;
  font-size: 40px;
  color: white;
}

#level_Counter {
  position: relative;
  margin: 10px 0 10px 20px;
  font-family: sans-serif;
  font-size: 40px;
  color: white;
}

#right {
  flex-grow: 2;
  background-color: darksalmon;
}

.right-text {
  position: relative;
  margin: 10px 0 10px 20px;
  font-family: fantasy, sans-serif;
  font-size: 40px;
  color: white;
}

#life_Counter {
  position: relative;
  margin: 10px 0 10px 20px;
  font-family: sans-serif;
  font-size: 40px;
  color: white;
}

#score_Counter {
  position: relative;
  margin: 10px 0 10px 20px;
  font-family: sans-serif;
  font-size: 40px;
  color: white;
}

p {
  margin: 0;
}

#mobile-buttons {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  z-index: 3;
}
    
#left-button {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
}
    
#right-button {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
}

#game {
  display: none;
  position: relative;
  height: 100%;
  top: 0;
}

#pause-menu {
	display: none;
	position: absolute;
	left: 30%;
	right: 30%;
	top: 12.5%;
	background-color: #ccffff;
	width: 400px;
	height: 500px;
	z-index: 10;
}

#pause-menu-screen-darken {
	display: none;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .5;
    filter: alpha(opacity=40); /* For IE8 and earlier */
	z-index: 9;
}